.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-text-1 {
  font-family: Amarillo;
  font-size: 1.5rem;
  width: 251px;
  margin: 45px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 56px;
  margin-bottom: 45px;
}

.u-section-1 .u-repeater-1 {
  min-height: 462px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-1 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
  background-image: url("images/98415264077e82bb0568d1d1749e35cbd14e471a089b6833f27803e4daa3d42df559ba64e9cf75755567b0f4c304167a810a03978a445e1f8cb403_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-2 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
  background-image: url("images/efe9b51617488565df540c52c5076872ce09fc28fc47dff690c22925e1909b79fe23eb65e9d007a28d7a0070177ecd87cf032c2670ed380b59451c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-3 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
  background-image: url("images/33ea1e821c6fff24d1e79655c2e470f66224325470e86fef1547a0da333db94161be46db7a2ee65edcb46d4ad9666b8e645fc6684efd6c7450a223_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-4 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-5 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-6 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-7 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-8 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-9 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-10 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-11 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-12 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-25 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-13 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-27 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-14 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-29 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-15 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-31 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-16 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-33 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-17 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-35 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-18 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-37 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-19 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-39 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-20 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-41 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 19px 30px 25px;
}

.u-section-1 .u-image-21 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
  width: 178px;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-43 {
  margin: 20px 0 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 273px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-1 .u-image-1 {
    height: 293px;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 293px;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 293px;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-10 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-12 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-13 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-14 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-15 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-16 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-17 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-18 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-19 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-20 {
    height: 177px;
    width: auto;
  }

  .u-section-1 .u-image-21 {
    height: 177px;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 270px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-1 .u-image-1 {
    height: 2036px;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 2036px;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 2036px;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-10 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-12 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-13 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-14 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-15 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-16 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-17 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-18 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-19 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-20 {
    height: 291px;
    width: auto;
  }

  .u-section-1 .u-image-21 {
    height: 291px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 205px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 3973px;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 3973px;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 3973px;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-15 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-16 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-17 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-18 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-19 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-20 {
    height: 513px;
    width: auto;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-21 {
    height: 513px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 152px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 4470px;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 4470px;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 4470px;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-10 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-12 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-13 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-14 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-15 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-16 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-17 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-18 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-19 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-20 {
    height: 375px;
    width: auto;
  }

  .u-section-1 .u-image-21 {
    height: 375px;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-family: Amarillo;
  width: 236px;
  margin: 0 auto;
}

.u-section-2 .u-table-1 {
  margin: 20px auto 0;
}

.u-block-89b8-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-89b8-93 {
  height: 46px;
}

.u-block-89b8-94 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-block-89b8-95 {
  background-image: none;
  font-weight: 700;
}

.u-block-89b8-96 {
  background-image: none;
  font-weight: 700;
}

.u-block-89b8-127 {
  background-image: none;
  font-weight: 700;
}

.u-block-89b8-97 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-9 {
  min-height: 100px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 1rem;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-14 {
  padding: 30px 10px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-17 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-18 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-19 {
  width: auto;
  margin: 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-22 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-23 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-24 {
  text-align: left;
  margin: 17px auto 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-block-89b8-35 {
  background-image: none;
}

.u-block-89b8-126 {
  grid-template-columns: 100%;
  min-height: 94px;
  grid-gap: 0px;
}

.u-section-2 .u-text-2 {
  font-family: Amarillo;
  margin: 20px auto 0;
}

.u-section-2 .u-table-2 {
  margin-top: 20px;
  margin-bottom: 42px;
}

.u-block-89b8-134 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-89b8-135 {
  height: 46px;
}

.u-block-89b8-136 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-block-89b8-137 {
  background-image: none;
  font-weight: 700;
}

.u-block-89b8-138 {
  background-image: none;
  font-weight: 700;
}

.u-block-89b8-190 {
  background-image: none;
  font-weight: 700;
}

.u-block-89b8-139 {
  background-image: none;
  font-weight: 700;
}

.u-block-89b8-140 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-26 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-27 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-28 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-29 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-30 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-32 {
  min-height: 100px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-35 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-36 {
  padding: 30px 10px;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-38 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-39 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-40 {
  width: auto;
  margin: 0;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-42 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-43 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-44 {
  text-align: left;
  margin: 17px auto 0;
}

.u-section-2 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-block-89b8-175 {
  background-image: none;
}

.u-block-89b8-189 {
  grid-template-columns: 100%;
  min-height: 94px;
  grid-gap: 0px 0px;
}

.u-block-89b8-180 {
  grid-template-columns: 100%;
  min-height: 94px;
  grid-gap: 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-cell-9 {
    min-height: 82px;
  }

  .u-section-2 .u-table-cell-19 {
    font-size: 3rem;
  }

  .u-section-2 .u-table-cell-24 {
    font-size: 1rem;
    letter-spacing: normal;
    font-style: normal;
  }

  .u-section-2 .u-table-cell-40 {
    font-size: 1rem;
  }

  .u-section-2 .u-table-cell-44 {
    font-size: 1rem;
    letter-spacing: normal;
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-cell-9 {
    min-height: 100px;
  }

  .u-block-89b8-126 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 171px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -141px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-block-89b8-126 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-top: 118px;
  }

  .u-section-2 .u-table-2 {
    margin-top: -52px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 170px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -140px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-cell-19 {
    font-size: 1rem;
  }

  .u-section-2 .u-table-2 {
    margin-top: -77px;
  }
}.scroll {
height:500px;
background: #fff;
border: 1px solid #C1C1C1;
overflow-x: scroll;
overflow-y: scroll;
}@font-face {
  font-family: 'Amarillo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Amarillo.otf);
}