.u-section-1 .u-sheet-1 {
  min-height: 662px;
}

.u-section-1 .u-form-1 {
  height: 294px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  width: 660px;
  margin: 233px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 15px;
}

.u-section-1 .u-btn-2 {
  margin: -59px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 400px;
  }
}.scroll {
height:500px;
background: #fff;
border: 1px solid #C1C1C1;
overflow-x: scroll;
overflow-y: scroll;
}@font-face {
  font-family: 'Amarillo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Amarillo.otf);
}