<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sns.db.MatchMapper">

	<select id="filter_basic" parameterType="sns.model.MatchDTO" resultType="sns.model.MatchDTO">
		select * 
		from basic_info 
		where gender in (#{gender}) 
			and rating_person >= #{rating} 
			and member_id in (select member_id from hope_area where area=#{area}) 
			and member_id in (select member_id from interest where #{interest} >= #{intermmr})
	</select>
	
	<select id="filter_group" parameterType="sns.model.MatchDTO" resultType="sns.model.MatchDTO">
		select * 
		from p_group 
		where rating_group >= #{rating} 
			and member_id in (select group_id from hope_area where area=#{area}) 
			and member_id in (select group_id from interest where #{interest} >= #{intermmr})
	</select>
	
</mapper>