<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sns.db.MemberMapper">


	<insert id="join" parameterType="sns.model.MemberDTO">
		insert into basic_info(member_id, pw, name, mail, birth, img, dis, gender, rating_person, location) 
		values(#{Member_id}, #{pw}, #{name}, #{mail}, #{birth}, null, #{dis}, #{gender}, 50, #{location} )
	</insert>

	<select id="login" parameterType="sns.model.MemberDTO"
		resultType="sns.model.MemberDTO">
		select * from basic_info where Member_id=#{Member_id} and pw=#{pw}
	</select>

	<select id="find_name">
		select name from basic_info where member_id=#{member_id}
	</select>

	<select id="friend_list" resultType="sns.model.FriendDTO">
		select member_id, name, mail, birth, img, dis, gender, location, rating_person from basic_info
		where member_id in (select friend_id from friend where member_id = #{user_id})
	</select>
	
	<delete id="friend_delete1" parameterType="sns.model.FriendDTO">
		delete from friend where friend_id = #{friend_id} and member_id = #{member_id}
	</delete>
	
	<delete id="friend_delete2" parameterType="sns.model.FriendDTO">
		delete from friend where member_id = #{friend_id} and friend_id = #{member_id}
	</delete>
	
</mapper>