  #console-container {
    border: 1px solid rgb(254, 112, 84); overflow-y: scroll;
	height : 250px; width: 72%;
	padding: 13px; border-radius: 3px;
	display:inline-block;
  }
  .myMsg{
	width: 98%;	text-align: left;
	height: 35px;	padding: 3px;
	color: gray;
  }
  .friendsMsg{  
	width: 98%;	text-align: right; 	height: 35px;
	padding: 3px;	color: black;
  }
  #users{
    border: 1px solid rgb(254, 112, 84);
    overflow-y: scroll;	height : 250px;	width: 18%;
	  padding: 13px;	border-radius: 3px;	display:inline-block;
  }
  .members{
	width:50%;	padding: 5px;
  }
  #chat{
    width:90%; padding: 3px;
    border-color: rgb(254, 112, 84)
  }
  #clicker{
    color: black;  background-color: rgb(254, 112, 84);
    height: 30px; text-decoration-thickness: 2px;
  }
